# logs
*.log

# dependencies
node_modules

# build
dist
dist-ssr

# env
*.local

# release
release

# editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store

# extensions
.continue